node_modules/
oh_modules/
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.preview
.zcode
.codegenie
/sign
/.codex
*.p12
*.p7b
*.cer
*.pem
*.key
*.jks
*.keystore
*.kdbx
.env
.env.*
